<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="../scripts/display.js" defer></script>
    <script src="../scripts/search.js" defer></script>
    <script src="../scripts/sort.js" defer></script>
    <title>Home</title>
</head>
<body>
    <div class="title">
        <h1>Heroes</h1>
    </div>
    <select name="nombre" id="nb-elem">
        <option value="20">--Please choose an option--</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="">all results</option>
    </select>
    <div class="search">
        <label for="searchInput">Search</label>
        <input type="text" name="searchInput" id="searchInput">
        <select name="searchSelect" id="searchSelect">
            <option value="name">Name</option>
            <option value="biography.fullName">Full name</option>
        </select>
    </div>
    <button class="bouton" name="previous">Previous Page</button>
    <button class="bouton" name="next">Next Page</button>
    <div id="heroes">
        <table id="tableau">
            <thead>
                <tr>
                    <th id="photo">Photo</th>
                    <th id="name" class="notReverse">Name</th>
                    <th id="fullName" >Full Name</th>
                    <th colspan="6">Power stats</th>
                    <th id="race">Race</th>
                    <th id="gender">Gender</th>
                    <th id="height">Height</th>
                    <th id="weight">Weight</th>
                    <th id="placeOfBirth">Place Of Birth</th>
                    <th id="alignement">Alignement</th>
                </tr>
            </thead>
            <tbody id="elements">
                <tr>
                    <td colspan="3"></td>
                    <td id="intelligence">Intelligence</td>
                    <td id="strength">Strength</td>
                    <td id="speed">Speed</td>
                    <td id="durability">Durability</td>
                    <td id="power">Power</td>
                    <td id="combat">Combat</td>
                    <td colspan="6"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="bouton" name="previous">Previous Page</button>
    <button class="bouton" name="next">Next Page</button>

</body>
</html>